@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
    list-style-type: none;
}

.btn {
	background-color: transparent;
	padding: 12px 25px;
	border: 1px solid #000;
	border-radius: 15px;
	cursor: pointer;
	transition: all ease-in-out .5s;
	&:hover {
		background-color: #413c3c;
		color: #fff;
	}
}

.btn-close {
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	border-radius: 50%;
	background-color: transparent;
	position: relative;
	cursor: pointer;

	&::after,
	&::before{
			content: '';
			position: absolute;
			width: 12px;
			height: 2px;
			background-color:#000;
			top: 50%;
			left: 50%;
	}

	&::after {
			transform: translate(-50%, -50%) rotate(45deg);
	}

	&::before {
			transform: translate(-50%, -50%) rotate(315deg);
	}
}